@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out forwards;
}
